*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../img/fondo2.png);
    background-repeat: repeat;
    height: 5000px;
    z-index: -1000;
}

#filtro{
    background-image: url(../img/filtro2.png);
    background-repeat: repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -999;
}

.header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
}

#contenedor {
    width: 100%;
    height: 800px;
}

#texto{
    font-size: 50px;
    font-family: long;
    color: white;
    user-select: none;
    line-height: 1.6;
}

@font-face {
    font-family: arcade;
    src: url(../fonts/ARCADECLASSIC.TTF);
}

@font-face {
    font-family: long;
    src: url(../fonts/long_pixel.ttf);
}

#flecha {
    position: absolute;
    right: 100px;
    bottom: 50px;
}

.pixel {
    width: 10px;
    height: 10px;
}
